#content-box {
    width: 80%;
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 0;
    background-color: #f4f4f42c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2em 0;
    margin-top: 5em;
}