{% extends "template.html" %}

{% block head %}
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block body %}
    <div id="contact-container">
        <h1>Rodelio JR M. Antido
            <h3>rod.jrantido@gmail.com </h3>
        </h1>
        <h1>John Carlo Reuel V. Bulatao
            <h3>bulatao.johncarloreuel@gmail.com  </h3>
        </h1>
        <h1>Cyril D. A. Dela Cruz
            <h3>delacruzcyril23@gmail.com</h3>
        </h1>
        <h1>John Jefferson B. Janer
            <h3> janerjefferson21@gmail.com </h3>
        </h1>
        <h1>Pearl Ann L. Mergilla
            <h3>annmergilla@gmail.com </h3>
        </h1>
        <h1>Janssen Robert S. Rosalin
            <h3>janssenrobert1432@gmail.com</h3>
        </h1>
    </div>
{% endblock %}